.ICEauthority
.Xauthority
.Xdefaults
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dmrc
.java/
.lesshst
.local/share/JetBrains/
.local/share/Trash/
.local/share/applications/mimeinfo.cache
.local/share/evolution/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/gvfs-metadata/
.local/share/keyrings/
.local/share/nautilus/
.local/share/recently-used.xbel
.local/share/session_migration-gnome
.local/state/
.npm/
.pam_environment
.profile
.profile.bak
.python_history
.ssh/
.sudo_as_admin_successful
.xscreensaver
.xsession-errors
.xsession-errors.old
Modèles/
Téléchargements/
Vts-Linux-64bits-3.8.1/
node_modules/
package-lock.json
package.json
simulateur-spatial-token
snap/
.PrestoPlot/
