[Desktop Entry]
Version=1.0
Name=Docker Jsatorb
Comment=Launch all docker containers
Exec=gnome-terminal -- bash -c 'cd /home/simulateurspatial/.local/share/applications/ && /home/simulateurspatial/.local/share/applications/dockercompose.sh; exec bash'
Icon=EAE.png
Terminal=true
Type=Application
Categories=Development;System;
