[Desktop Entry]
Name=WebStorm 2024.2.3
Exec="/home/simulateurspatial/.local/share/JetBrains/Toolbox/apps/webstorm/bin/webstorm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/simulateurspatial/.local/share/JetBrains/Toolbox/apps/webstorm/bin/webstorm.svg
Comment=A JavaScript and TypeScript IDE
StartupWMClass=jetbrains-webstorm
StartupNotify=true
